.t-search-b {
.wx-cc-search-dv {
	.cc-search {
		width: 470rpx !important;
		background: #fff !important;
		.cc-search-content {
			background-color: #F3f4f5;
		}
	}
}
}
.wx-cc-search-dv {
	.cc-search {
		width: 400rpx !important;
		background: #Ff5700 !important;
		.cc-search-content {
			background-color: #fff;
		}
	}
}
.t-header-cc-search {
	.cc-search {
		background-color:#F3f4f5 !important;
		.cc-search-content {
			background-color: #fff;
		}
	}
}
.i-cc-swiper {
	.cc-swiper-item-img {
		/* #ifdef MP-WEIXIN */
		border-radius: 20rpx;
		/* #endif */
	}
	image {
		/* #ifdef MP-WEIXIN */
		border-radius: 20rpx;
		/* #endif */
	}
}
.swx-dv {
	.cc-search {
		width: 510rpx !important;
	}
}
.xm-search-top {
	.cc-search {
		background-color:#F3f4f5 !important;
		.cc-search-content {
			background-color: #fff;
		}
	}
}